/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
/* For testing only */

:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

/*above is for testing only*/



body {
	background-color: rgba(172, 163, 150, 1);
	font-family: 'Dosis', sans-serif;
	font-size: 1.3em;
	font-weight: 300;
	line-height: 1.5em;
	letter-spacing: .09em;
	color: rgba(38, 50, 86, 1);
	margin: 0%;
}
.container {
	background-color: rgba(225, 223, 216, 1);
	box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.08);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
			 border-radius: 10px;
	margin: 2.5% auto;
	width: 83vw;
	height: 100vh;
}
.nav {
	background-image: url("../img/mtnRng172163150.svg");
	background-repeat: no-repeat;
	background-color: rgba(38, 50, 86, 1);
	color: rgba(255,255,255,1);
	width: 100%;
	height: 10%;
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
			 border-radius: 10px 10px 0px 0px;
	margin: 0%;
	padding: 1em;
}
.nav ul li {
	color: rgba(192, 145, 93,1);
	float: right;
	text-decoration: none;
}
.nav a {
	color: rgba(192, 145, 93,1);
	text-decoration: none;
}
.nav a:hover {
	color: rgba(192, 145, 93,0.5);
}
.links {
	float: right;
	width: 35%;
	height: 100%;
}
.logo	{
	float: left;
	width: 15%;
	height: 100%;
}
.logo img {
	float: left;
	width: 100%;
	height: 100%;
}
.logo h3 {
	float: left;
	font-size: 1.5em;
	font-weight: 400;
	padding-top: .5em;
	padding-left: .5em;
}
.search {
	float: right;
	background-color: rgba(255, 255, 255, 1);
	width: 20%;
	height: 90%;
	border: 1px solid rgba(255, 255, 255, 1);
	color: rgba(38, 50, 86, 1);
	padding-top: .4em;
}
.fa {
	float: right;
	color: rgba(38, 50, 86, 1);
}
.header {
	width: 100%;
	height: 5%;
	margin-top: 3%;
}
.header h1 {
	float: left;
	font-family: 'Amatic SC', cursive;
	font-size: 3.75em;
	font-weight: 700;
	text-align: center;
	margin-left: 35%;
}
.header a {
	font-weight: 800;
	color: rgba(38, 50, 86, 1);
	text-decoration: none;
}
.header p {
	float: right;
	margin-right: 2.5%;
}
.header:hover a {
	font-weight: 400;
}
.gallery {
	font-size: .9em;
	letter-spacing: .15em;
	float: left;
	width: 23%;
	height: 40%;
	margin: 2% 1% 1% 1%;
}
.gallery::first-of-type {
	margin-left: 0%;
}
.gallery::last-of-type {
	margin-right: 0%;
}
.gallery img {
	float: left;
	width: 100%;
	height: 100%;
	margin-bottom: .5em;
	object-fit: cover;
	object-position: left;
}
.gallery h5 {
	font-weight: 700;
	text-align: center;
	margin-top: .5em;
}
.gallery p {
	font-size: .9em;
	line-height: 1.4em;
	text-align: justify;
	letter-spacing: -0.01em;
}

/*begin media queries*/

@media only screen and (max-width:1300px) {
	.gallery {
		content: "";
		display: table;
		clear: both;
		float: left;
		font-size: .9em;
		letter-spacing: .15em;
		float: left;
		width: 45%;
		height: 25%;
		margin: 2% 1% 1% 1%;
	}

}





/*Clearfix*/

.clearfix:before
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
